<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15981297922-ice7i9tgleb7dnaki09nm5acut5pcidm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15981297922-ice7i9tgleb7dnaki09nm5acut5pcidm</string>
	<key>API_KEY</key>
	<string>AIzaSyCsV5gVH4sYg4mkDArGCroSKw4oiwSfXvY</string>
	<key>GCM_SENDER_ID</key>
	<string>15981297922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.univercities</string>
	<key>PROJECT_ID</key>
	<string>univercities-dfcd3</string>
	<key>STORAGE_BUCKET</key>
	<string>univercities-dfcd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15981297922:ios:6654ed670c3c65a05f821b</string>
</dict>
</plist>